<!DOCTYPE html>
<html>
<title>Netflix Browser</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="/static/searchbar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<h1 style="text-align: center">Netflix Browser</h1>
<p style="text-align: center">Browse movies available on Netflix, together with their IMDB rating.</p>
<body style="background-color:#c4c4c4;">

<!-- Search field -->
<div class="wrapper">
    <input type="text" class="input"
           placeholder="What are you looking for?">
    <div class="searchbtn"><i class="fas fa-search"></i></div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- Movie Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="moviegrid">
        {%for movie in movies%}
            <div class="w3-quarter" style="height: 260px">
                <img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt={{ movie['title'] }} style="width:100%">
                <h5>{{ movie['title']}} ({{ movie['release_year'] }})</h5>
            </div>
        {%endfor%}
    </div>
    {{ pagination.links }}
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
