<!DOCTYPE html>
<html>
<title>Netflix Browser</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="/static/searchbar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<h1 style="text-align: center">Netflix Browser</h1>
<p style="text-align: center">Browse movies available on Netflix, together with their IMDB rating.</p>
<body style="background-color:#c4c4c4;">

<!-- Search field -->
<div class="wrapper">
    <form method="post" action="/">
        <table>
            <tr>
                <input type="text" class="input" placeholder="What are you looking for?" name="search_bar">
                <button type="submit" class="searchbtn" id="searchbtn"><i class="fas fa-search"></i></button>
            </tr>
            <tr>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre1" name="genre" value="Action">Action
                </td>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre2" name="genre" value="Comedy">Comedy
                </td>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre3" name="genre" value="Documentary">Documentary
                </td>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre4" name="genre" value="Horror">Horror
                </td>
                <td style="padding-right: 5px">
                    <input type="radio" id="order1" name="order" value="By Year">By Year
                </td>
            </tr>
            <tr>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre5" name="genre" value="Kids">Kids
                </td>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre6" name="genre" value="Romantic">Romantic
                </td>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre7" name="genre" value="Sci-Fi & Fantasy">Sci-Fi & Fantasy
                </td>
                <td style="padding-right: 5px">
                    <input type="checkbox" id="genre8" name="genre" value="Thriller">Thriller
                </td>
                <td style="padding-right: 5px">
                    <input type="radio" id="order2" name="order" value="By Rating">By Rating
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:200px">

  <!-- Movie Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="moviegrid">
        {%for movie in movies%}
            <div class="w3-quarter" style="height: 260px">
                <a href="https://www.w3schools.com">
                    <img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt={{ movie['title'] }} style="width:100%"> </a>
                <h5>{{ movie['title']}} ({{ movie['release_year'] }})</h5>
            </div>
        {%endfor%}
    </div>
    {{ pagination.links }}
<!-- End page content -->
</div>

</body>
</html>
